.background{
    background-image: url('https://images.pexels.com/photos/688835/pexels-photo-688835.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: 100% 100%;
    height: 75vh;

}

.neighbourhood{
    width: 100%;
    height: 75.5vh;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 8vh;
}
.neigbourhoodinfo{
    padding: 5% 0%;
}

.text{
    position: relative;
    top: 13vh;
}

.text p{
    margin: 3%;
}