{%extends 'base.html'%}

{%block content%}
{%block styles%}
{{block.super}}

<link rel="stylesheet" href="../../static/css/profile.css">
<link rel="stylesheet" href="../static/css/main.css">

{%endblock%}
<div class="profpic">
 
    <img src="{{account.Profilephoto.urlc}}" alt="i">
</div>

<div class="container profile">
    <p> Username : {{account.user.username}}</p>
    <p> Neigbourhood : {{account.Neighbourhood.Name}}</p>
    <p> Email : {{account.Email}}</p>
    <p> Phone Number : {{account.Phone}}</p>
    <p><a class="text-dark" href="{%url 'createbusiness'%}"><Button class="btn btn-dark">Add Business</Button></a></p>
</div>

<div class="businesses">
    {%for business in businesses%}
    <div class="business card">
        <p>Category: {{business.category}}</p>
        <p>{{business.Name}}</p>
        <p>{{business.owner.username}}</p>
        <p>{{business.Description}}</p>
        <p>{{business.Neighbourhood.Name}}</p>
        <p>{{business.Email}}</p>
        <p>{{business.Phone}}</p>
        

    </div>
    {%endfor%}
</div>
{%endblock%}