{%extends 'base.html'%}

{%block content%}
{%block styles%}
    {{block.super}}
    <link rel="stylesheet" href="../../static/css/business.css">
    <link rel="stylesheet" href="../static/css/main.css">

{%endblock%}

<h1 class="text-center">Businesses In My Neighbourhood</h1>
<div class="businesses">
    {%for business in ourbusinesses%}
    <div class="business card">
        <p><strong>Category:</strong>{{business.category}}</p>
        <p><strong>Name:</strong>{{business.Name}}</p>
        <p><strong>Owner:</strong>{{business.owner.username}}</p>
        <p><strong>Neighbourhood:</strong>{{business.Neighbourhood.Name}}</p>
        <p><strong>Email:</strong>{{business.Email}}</p>
        <p><strong>Phone:</strong>{{business.Phone}}</p>

    </div>
    {%endfor%}
</div>

<h1 class="text-center">All Businesses</h1>
<div class="businesses">
    {%for business in businesses%}
    <div class="business card">
        <p><strong>Category:</strong>Category: {{business.category}}</p>
        <p><strong>Name:</strong>{{business.Name}}</p>
        <p><strong>Owner:</strong>{{business.owner.username}}</p>
        <p><strong>Neighbourhood:</strong>{{business.Neighbourhood.Name}}</p>
        <p><strong>Email:</strong>{{business.Email}}</p>
        <p><strong>Phone:</strong>{{business.Phone}}</p>

    </div>
    {%endfor%}
</div>

{%endblock%}