{%extends 'base.html'%}

{%block content%}
{%block styles%}
{{block.super}}
<link rel="stylesheet" href="../../static/css/bootstrap.css">
<link rel="stylesheet" href="../../static/css/business.css">

{%endblock%}

<form action="" class="text-center" method="POST" enctype="multipart/form-data">
    {%csrf_token%}

    <h1>Add A Business</h1>

    <p>{{form.Name}}</p>
    <p> {{form.category}}</p>
    <p>{{form.Description}}</p>
    <p><strong>Select Neigbourhood of operation:</strong>   {{form.Neighbourhood}}</p>
    <p>{{form.Email}}</p>
    <p>{{form.Phone}}</p>
    <select>
        <option value="volvo"></option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    <button type="submit" class="btn btn-dark" value="submit"> Submit</button>

</form>
{%block script%}
<script src="../../static/js/business.js"></script>

{%endblock%}

{%endblock%}