{%extends 'base.html'%}

{%block content%}
{%block styles%}
{{block.super}}
<link rel="stylesheet" href="../static/css/home.css">
{%endblock%}
<div class="background">

</div>
<div class="neighbourhood">
    <div class="text">
        <h1 class=" text-center text-white">
            <small>Welcome to</small> {{myneighbourhood.Name}}
        </h1>
        <p class="text-center text-white">For security contact: <strong>{{myneighbourhood.securitycontact}}</strong></p>
        <p class="text-center text-white">For Hospital Emergencies contact:
            <strong>{{myneighbourhood.healthcontact}}</strong></p>
    </div>
</div>
<br>
<div class="neigbourhoodinfo">
    <h2 class="text-center">About My neighbourhood | <big>{{myneighbourhood.Name}}</big></h2>
    <p class="text-dark container">
        {{myneighbourhood.Info}}
    </p>
    <p class="text-center"> {{myneighbourhood.Name}} has {{myneighbourhood.Occupantscount}} occupants using this
        plattform so far</p>
</div>


{%endblock%}